[package]
name = "camrete-core"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
astral-tokio-tar = "0.5.6"
async-compression = { version = "0.4.33", features = ["tokio", "gzip"] }
bytes = "1.11.0"
concat-idents = "1.1.5"
derive_more = { version = "2.0.1", features = ["deref", "from", "into", "try_from"] }
diesel = { version = "2.3.3", features = ["sqlite", "returning_clauses_for_sqlite_3_35", "r2d2", "serde_json", "time"] }
diesel_migrations = { version = "2.3.0", features = ["sqlite"] }
directories = "6.0.0"
futures-core = "0.3.31"
futures-util = { version = "0.3.31", features = ["io"] }
miette = "7.6.0"
parking_lot = "0.12.5"
percent-encoding = "2.3.2"
pin-project = "1.1.10"
reqwest = { version = "0.12.24", features = ["rustls-tls", "stream"], default-features = false }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
strum = { version = "0.27.2", features = ["derive"] }
thiserror = "2.0.17"
time = { version = "0.3.44", features = ["parsing", "serde"] }
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread"] }
tokio-util = { version = "0.7.17", features = ["compat"] }
tracing = "0.1.41"
uniffi = "0.29"
url = { version = "2.5.7", features = ["serde"] }

[build-dependencies]
# uniffi = { version = "0.30.0", features = ["build"] }

[dev-dependencies]
criterion = { version = "0.7.0", features = ["html_reports", "async_tokio"] }
rand = "0.9.2"
serde_test = "1.0.177"

[[bench]]
name = "unpack_repo"
harness = false

[[bench]]
name = "module_versions"
harness = false
